doctype html
html
  head
    title Dashboard
  body
    h1 Welcome #{user.name}
    a(href="/video/dashboard/all") All Videos |
    a(href="/video/dashboard/mine") My Videos |
    a(href="/video/new_video") Share New Video
    ul
      each video in videos
        li
          h3= video.title
          iframe(width="300", height="200", src=video.url)