<h2>
  {{#if passed}}
    Congratulations {{name}}! You pass the quiz!!
  {{else}}
    Sorry {{name}}, you fail the quiz 
  {{/if}}
</h2>
<button id="retake">Re-take Quiz</button>
<button id="main-menu">Return to Main Page</button>
