doctype html
html
  head
    title Register
  body
    h1 Register
    if error
      p(style="color:red")= error
    form(method="POST")
      input(type="text", name="email", placeholder="Email")
      input(type="text", name="name", placeholder="Name")
      input(type="password", name="password", placeholder="Password")
      button(type="submit") Register